
.navbar {
   text-align: right;
}

.navbar li {
   display: inline-block;
   padding: 10px 5px;
}

.nav-bar-link {
   color: black;
   text-decoration: none;
}

.nav-bar-link:hover {
   color: red;
}

.active {
   color: blue;
   background-color: pink;
}